Body {
    background-image: url(./img/aleksi-tappura-mCg0ZgD7BgU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    background-attachment: fixed;
}
.container{
    background-color: white;
    margin-left: 12%;
    width: auto;
    margin-right: 50%;
    margin-top: 5%;
    margin-bottom: 30%;
    padding-bottom: 10%;
    
}
h1{
    color: tan;
}
.contact-Line{
    border: 1px solid black;
    border: 100%;
}
#img-me{
    max-width: 40%;
    max-height: 40%;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
    color: white;
    opacity: 0.6;
}
/* .tab{
    text-indent: 40px;
} */
.btn{
    width: 100%;
    height: 50px;
    background-color: tan;
}
.my_img{
    height: 200px;
    width: 500px;
}
.navbar{
    opacity: 0.6;
}




@media (min-width: 576px) { 
    .container{
        width: auto;
    }
}


@media (min-width: 768px) { 
    .container{
        width: auto;
    }
}


@media (min-width: 992px) { 
    .container{
        width: auto;
    }
}

@media (min-width: 1200px) {
    .container{
        width: auto;
    }
}